<div id="<%= dom_id cliente %>">
  <td id="nome"><%= cliente.nome %></td>
  <td id="desc"><%= cliente.desc %></td>
  <td id="cnpj"><%= cliente.cnpj %></td>
  <td id="tel"><%= cliente.tel %></td>
  <td id="endereco"><%= cliente.endereco %></td>
  <td id="uf"><%= cliente.uf %></td>
  <td id="cep"><%= cliente.cep %></td>
  <td id="email"><%= cliente.email %></td>
</div>