<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th class="text-center">Produto</th>
      <th class="text-center">Fornecedor</th>
      <th class="text-center">Descrição</th>
      <th class="text-center">Lote</th>
      <th class="text-center">Comprado em</th>
      <th class="text-center">Validade</th>
      <th class="text-center">Quantidade</th>
      <th class="text-center">Valor</th>
      <th class="text-center">Status</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <%= render @estoque %>
      </tr>
    </tbody>
  </table>
  </div>
</div>

  <div>
    <%= button_to "Novo estoque", new_estoque_path, class: 'btn btn-outline-success', method: :get %> |
    <%= button_to "Editar", edit_estoque_path(@estoque), class: 'btn btn-outline-info', method: :get %> |
    <%= button_to "Voltar", estoques_path, class: 'btn btn-outline-dark', method: :get %>
  </div>

  <br>

  <div class="d-flex flex-row justify-content-end mt-auto">
    <%= button_to "Deletar este estoque (não recomendado)", @estoque, class: 'btn btn-danger', method: :delete %>
  </div>