<div id="<%= dom_id fornecedor %>">

  <td id="nome"><%= fornecedor.nome %></td>

  <td id="cnpj"><%= fornecedor.cnpj %></td>

  <td id=endereco><%= fornecedor.endereco %></td>

  <td id="tel"><%= fornecedor.tel %></td>

  <td id="obs"><%= fornecedor.obs %></td>

</div>
