<div class="container">
  <% if current_user.admin %>
      <h1>Produtos</h1>

      <div class="table-responsive">
        <table class="text-center table table-striped table-bordered table-hover" id="tabelaProdutoindexAdmin">
          <thead>
          <tr>
            <th class="text-center">Produto</th>
            <th class="text-center">Entrada</th>
            <th class="text-center">Quantidade Disponível</th>
            <th class="text-center">Retirada (Últimos 30 dias)</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <% @produtos.each do |showestoque| %>

              <td id="produtos"><%= showestoque.nome %></td>
              <td id="entrada">
                <% quantidade_total = @estoque.where(:produto_id => showestoque.id).where('status != ? and status != ?', 'Cancelado', 'Descartado') %>
                <%= t('valores.peso', value: '%0.3f' %quantidade_total.sum(:quantidade)) %>
              </td>
              <td id="quantidade"><%= t('valores.peso', value: '%0.3f' %showestoque.quantidade) %></td>
                <% verifica_data = @logs.where('data_retirada > ? and produto_id = ?', Date.today.days_ago(30), showestoque.id) %>
                <% soma = verifica_data.sum(:retirada) %>
                <td id="retirada"><%= link_to t('valores.peso', value: '%0.3f' %soma),  logs_path(showestoque.id) %></td>

              <td id="botao_mostrar"><%= button_to "Editar", edit_produto_path(showestoque), class: 'btn btn-outline-info', method: :get %></td>
              <td id="botao_retirar"><%= button_to 'Retirar', subtrai_path(showestoque), class: 'btn btn-outline-danger', method: :get %></td>
              </tr>

            <% end %>
            </tbody>
        </table>
      </div>
    <br>
    <br>
  <div class="table-responsive">
      <h1>Usuários</h1>
      <table class="text-center table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>E-mail</th>
          <th>Permissões</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @user.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.admin %></td>
            <td><%= button_to 'Editar', edit_user_path(user), class: 'btn btn-outline-info', method: :get %></td>
          </tr>

        <% end %>
        </tbody>
      </table>
      </div>
      <%= button_to 'Novo', new_user_path, class: 'btn btn-outline-success', method: :get %>
      <br>
    <br>

  <% else %>

<h1>Produtos</h1>

    <div class="table-responsive">
      <table class="text-center table table-striped table-bordered table-hover" id="tabelaProdutoindexUsuario">
        <thead>
        <tr>
          <th class="text-center">Produto</th>
          <th class="text-center">Quantidade Disponível</th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <% @produtos.each do |showestoque| %>

            <td id="produtos"><%= showestoque.nome %></td>
            <td id="quantidade"><%= t('valores.peso', value: '%0.3f' %showestoque.quantidade) %></td>
            <td id="botao_mostrar"><%= button_to "Editar", edit_produto_path(showestoque), class: 'btn btn-outline-info', method: :get %></td>
            <td id="botao_retirar"><%= button_to 'Retirar', subtrai_path(showestoque), class: 'btn btn-outline-danger', method: :get %></td>
            </tr>

          <% end %>
          </tbody>


          </table>
    </div>
<% end %>
    <%= button_to 'Sair', destroy_user_session_path, class: 'btn btn-outline-danger', method: :delete %>
    </div>