<div id="<%= dom_id produto %>">

  <td id="nome">
    <%= produto.nome %>
  </td>

  <td id="codigo">
    <%= produto.codigo %>
  </td>
  <% if current_user.admin %>
    <td id="desc">
      <%= produto.desc %>
    </td>
  <% end %>
  <td id="preco">
    <% if produto.preco == nil %>
      <%= t('valores.moeda', value: '%0,2f' %0) %>
    <% else %>
       <%= t('valores.moeda', value: '%0.2f' %produto.preco) %>
    <% end %>
  </td>
  <td id="entrada">
    <% quantidade_total = @estoque.where(:produto_id => produto.id) %>
    <% @@sum = t('valores.peso', value: '%0.3f' %quantidade_total.sum(:quantidade)) %>
    <%= @@sum %>
  </td>
  <td id="quantidade">
    <% quantidade = t('valores.peso', value: '%0.3f' %produto.quantidade) %>
    <%= quantidade %>
  </td>
  <td id="preco_unidade">
    <% if produto.preco_unidade.nil? or not produto.preco_unidade %>
      Não
    <% else %>
      Sim
    <% end %>
  </td>

</div>
