<!DOCTYPE html>
<html>
<head>
  <title>Ocean Fish</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= favicon_link_tag 'oceanfish_ico.jpg' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" %>
  <%= stylesheet_link_tag "user" %>

</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <%= link_to welcome_index_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
      <div class="sidebar-brand-icon">
        <%= image_tag 'oceanfish_ico-2-3.jpeg', class: 'img-letreiro rounded-circle' %>

      </div>
      <div class="letreiro sidebar-brand-text mx-sm-3">Ocean Fish
        <br>
        <p>Sistema <sup>Empresarial</sup></p>
      </div>
    <% end %>

    <br>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <%= link_to welcome_index_path, class: 'nav-link collapsed' do %>
        <i class="fas fa-fw fa-house-user"></i><span>Início</span>
      <% end %>
    </li>


    <% if current_user.admin %>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVendasvarejo"
           aria-expanded="true" aria-controls="collapseVendasvarejo">
          <i class="fas fa-fw fa-store"></i>
          <span>Vendas(VAREJO)</span>
        </a>
        <div id="collapseVendasvarejo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acesso rápido:</h6>
            <%= link_to 'Vender', venda_produtos_path, class: 'collapse-item' %>
            <%= link_to 'Mostrar Vendas', lista_vendas_venda_produtos_path, class: 'collapse-item' %>
          </div>
        </div>
      </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Estoque e Fornecedores
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
         aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-server"></i>
        <span>Estoque (Cadastro)</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Acesso rápido:</h6>
          <%= link_to 'Consultar cadastro', estoques_path, class: 'collapse-item' %>
          <%= link_to 'Cadastrar estoque', new_estoque_path, class: 'collapse-item' %>
        </div>
      </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFornecedor"
         aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-users"></i>
        <span>Fornecedores</span>
      </a>
      <div id="collapseFornecedor" class="collapse" aria-labelledby="headingUtilities"
           data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Acesso rápido:</h6>
          <%= link_to 'Consultar fornecedores', fornecedors_path, class: 'collapse-item' %>
          <%= link_to 'Cadastrar fornecedor', new_fornecedor_path, class: 'collapse-item' %>
        </div>
      </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduto"
         aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-store-alt"></i>
        <span>Produtos</span>
      </a>
      <div id="collapseProduto" class="collapse" aria-labelledby="headingUtilities"
           data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Acesso rápido:</h6>
          <%= link_to 'Consultar produtos', produtos_path, class: 'collapse-item' %>
          <%= link_to 'Cadastrar produto', new_produto_path, class: 'collapse-item' %>
        </div>
      </div>
    </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <div class="sidebar-heading">
        Clientes e Vendas (Atacado)
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseclientes"
           aria-expanded="true" aria-controls="collapseclientes">
          <i class="fas fa-fw fa-user"></i>
          <span>Clientes</span>
        </a>
        <div id="collapseclientes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acesso rápido:</h6>
            <%= link_to 'Consultar clientes', clientes_path, class: 'collapse-item' %>
            <%= link_to 'Cadastrar cliente', new_cliente_path, class: 'collapse-item' %>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseatacado"
           aria-expanded="true" aria-controls="collapseatacado">
          <i class="fas fa-fw fa-users"></i>
          <span>Vendas (ATACADO)</span>
        </a>
        <div id="collapseatacado" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acesso rápido:</h6>
            <%= link_to 'Consultar pedidos', atacado_pedidos_path, class: 'collapse-item' %>
            <%= link_to 'Novo pedido', new_atacado_pedido_path, class: 'collapse-item' %>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider d-none d-md-block">
      <div class="sidebar-heading">
        Configurações
      </div>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseconfiguracoes"
           aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-users"></i>
          <span>Configurações +</span>
        </a>
        <div id="collapseconfiguracoes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acesso rápido:</h6>
            <%= link_to 'SAT', sat_index_path, class: 'collapse-item' %>
          </div>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to venda_produtos_path, class: 'nav-link collapsed' do %>
          <i class="fas fa-fw fa-store"></i><span>Vendas (Varejo)</span>
        <% end %>
      </li>
    <% end %>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small"
                         placeholder="Search for..." aria-label="Search"
                         aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.email %></span>
              <%= image_tag 'undraw_profile.svg', class: 'img-profile rounded-circle' %>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <%= link_to destroy_user_session_path, class: 'droptown-item', method: :delete do %>
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Desconectar
              <% end %>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <%= yield %>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; BGH Development 2024</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<%= javascript_importmap_tags %>
<%= javascript_include_tag 'user' %>

</body>

</html>